.cart_content {
  font-family: var(--font-montserrat);
}

.cart_content_top {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.cart_content_top_your_cart {
  font-size: clamp(1rem, 2vw, 2.5rem);
  font-weight: 700;
}

.cart_content_top_continue_shopping {
  font-size: clamp(0.7rem, 1.25vw, 1rem);
  text-decoration: underline;
}

.cart_content_middle {
  /* border: 2px solid red; */
  /* margin-top: 20px; */
  /* border-top: 2px solid black ; */
}

.cart_content_middle_titles {
  display: flex;
  /* border: 2px solid red; */
  font-size: 1rem;
  font-weight: 700;
  color: rgba(18, 18, 18, 0.75);
  padding: 5px 0;
}

.cart_content_middle_title_product_text {
  width: 60%;
  /* border: 2px solid red; */
  /* text-align: center; */
}
.cart_content_middle_title_quantity_text {
  width: 25%;
  /* border: 2px solid red; */
  text-align: center;
  padding-right: 32px;
}
.cart_content_middle_title_total_text {
  width: 15%;
  /* border: 2px solid red; */
  text-align: center;
}

.cart_content_middle_content {
  /* display: flex; */
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);

  /* margin-top: 10px; */
  /* padding-top: 20px; */
}

.cart_content_middle_content_sub_container {
  display: flex;
  margin: 20px 0;
}

.cart_content_middle_product_content {
  width: 60%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
}
.cart_content_middle_product_content_text_wrapper {
  margin-left: 1.2rem;
}

.cart_content_middle_quantity_content {
  /* border: 2px solid red; */
  width: 25%;
}
.cart_content_middle_total_content {
  width: 15%;
  /* border: 2px solid red; */
}

.cart_content_middle_product_content_main_text {
  font-size: 1rem;
  font-weight: 400;
}

.cart_content_middle_product_content_sub_text {
  font-size: 0.875rem;
  font-weight: 400;
  margin: 5px 0;
}

.cart_content_middle_product_content_mobile_category {
  display: none;
}

.cart_content_middle_quantity_content {
  display: flex;
  align-items: center;
}

.cart_content_middle_quantity_content_sub_wrapper {
  /* border: 2px solid gold; */
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart_content_middle_quantity_content_counter {
  border: 1px solid #475927;
  padding: 9px 0;
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.cart_content_middle_quantity_content_cart_icon {
  /* border: 2px solid red; */
  /* padding: 5px; */
  margin-left: 9px;
}

.cart_content_middle_total_content {
  /* border: 2px solid yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .cart_content_middle_title_product_text {
    width: 50%;
  }
  .cart_content_middle_title_quantity_text {
    width: 30%;
  }
  .cart_content_middle_title_total_text {
    width: 20%;
  }

  .cart_content_middle_product_content {
    width: 50%;
  }

  .cart_content_middle_quantity_content {
    width: 30%;
  }
  .cart_content_middle_total_content {
    width: 20%;
  }
}




@media screen and (max-width: 600px) {

  .cart_content_middle_title_quantity_text{
    display: none;

    
  }

  .cart_content_middle_titles{
    justify-content: space-between;
  }

  .cart_content_middle_quantity_content {
    display: none;
  }


  .cart_content_middle_content_sub_container{
    justify-content: space-between;
  }

  .cart_content_middle_product_content{
    width: 80%;

  }



  /* Showing mobile view part */
  .cart_content_middle_content{
    /* border: 2px solid red; */
  }


  .cart_content_middle_product_content_mobile_category{
    display: block;
    /* border: 2px solid red; */
  }


  .cart_content_middle_quantity_content_sub_wrapper{
    /* height: 20px; */
  }


  .cart_content_middle_quantity_content_counter{
    padding: 0px;
    border-radius: 20px;

  }

  .cart_content_middle_quantity_content_sub_wrapper{
    width: 100%;
  }

  .cart_content_middle_quantity_content_counter{
    width: 100%;
  }

  .cart_content_middle_product_content{
    /* border: 2px solid yellow; */
  }

  .cart_content_middle_product_content{
    align-items: normal;
    /* border: 2px solid greenyellow; */
  }

  .cart_content_middle_product_content_text_wrapper{
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    justify-content: space-around;
  }



}



@media screen and (max-width: 420px) {

  .cart_content_middle_product_content_text_wrapper {
  margin-left: 0.5rem;
}
  .cart_content_middle_product_content_main_text{
    font-size: 0.8rem;
  }
  .cart_content_middle_product_content_sub_text{
    font-size: 0.6rem;
  }
  .cart_content_middle_quantity_content_sub_wrapper{
    font-size: smaller;
  }
  .cart_content_middle_total_content{
    font-size: 0.7rem;
  }



}



.cart_content_bottom{
  text-align: right;
  /* font-size: .875rem; */
}
.cart_content_bottom > div{
  margin: 10px 0;
  
}


.cart_content_bottom > div:nth-child(1) {
  font-size: .875rem;

  
}
.cart_content_bottom > div:nth-child(2) {
  font-size: .75rem;
}
.cart_content_bottom > div:nth-child(3) {
  /* background-color: lightgreen; */
  /* border: 2px solid green; */
  display: flex;
  justify-content: flex-end;
  /* width: 300px; */
}

.cart_content_bottom > div:nth-child(3) > div {
  
  /* border: 2px solid green; */
  width: 300px;
  text-align: center;
  padding: 10px;
  background: #2A3517;
  color: #FFF;
  font-size: 1rem;
  font-weight: 600;


}


@media screen and (max-width: 600px) {

  .cart_content_bottom{
    text-align: center;
  }

  .cart_content_bottom > div:nth-child(3) {
  display: flex;
  justify-content: center;
  }


}


